Source: bbcat-audioobjects
Priority: optional
Maintainer: Richard Day <richard.day@bbc.co.uk>
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 9), pkg-config, bbcat-render (>= 0.1.0.0), libtinyxml-dev (>= 2.6.2)

Package: bbcat-audioobjects
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, bbcat-render (>= 0.1.0.0)
Description: Audio Objects library
